* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  font-family: sans-serif;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  position: relative;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  border-radius: 30px;
  padding: 10px 25px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.search button:active {
  width: 50px;
  height: 50px;
  background: #fff;
}

.search button img {
  position: absolute;
  width: 16px;
  transform: translate(-50%, -50%);
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.col img {
  width: 40px;
  margin-right: 10px;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wind-speed {
  transform: translateX(4px);
}

.weather {
  display: none;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}
